body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(azure-photo.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.95;
}

#survey-form {
    margin: 0 auto;
    padding: 20px;
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.85);
    border: 2px solid rgba(0, 127, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, p {
    text-align: center;
    color: rgb(0, 127, 255);
}

p {
    font-size: 15px;
}

label, legend {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

label, legend, p {
    color: #333;
}

input, select, textarea {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
}

input:focus, select:focus, textarea:focus {
    border-color: rgba(0, 127, 255);
    outline: none;
}

.inline {
    width: unset;
}

/* Button */
button {
    margin: 1rem auto;
    padding: 10px;
    width: 60%;
    display: block;
    background-color: #0077cc; /* Stronger blue */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #005fa3; /* Deeper blue */
}

button:active {
    background-color: #003f7f; /* Even darker blue */
}

/* Fieldset Borders */
fieldset {
    background: rgba(0, 127, 255, 0.05);
    padding: 15px;
    border-radius: 8px;
}