body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#survey-form {
    margin: 0 auto;
    padding: 20px;
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, p {
    text-align: center;
    color: rgb(0, 127, 255);
}

label, legend {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

input, select, textarea {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inline {
    width: unset;
}

/* Button */
button {
    margin: 1rem auto;
    padding: 10px;
    width: 60%;
    display: block;
    background: rgb(0, 127, 255);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: rgb(0, 100, 200);
}

/* Fieldset Borders */
fieldset {
    border: none;
}